<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CRM</title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/normalize.css">
</head>
<body>
    <main class="caja-contenido col-9">
        <h2>Lista de Productos</h2>
        <button type="submit" class="btn-nuevo">Nuevo Producto</button>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
                <tr >
                    <td>12345</td>
                    <td>Cuaderno</td>
                    <td>35</td>
                    <td>
                        <button class="btn-editar">Editar</button>
                        <button class="btn-eliminar">Elimina</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>